# This workflow will build a docker container, publish it to Google Container Registry, and deploy it to GKE when there is a push to the "master" branch.
#
# To configure this workflow:
#
# 1. Ensure that your repository contains the necessary configuration for your Google Kubernetes Engine cluster, including deployment.yml, kustomization.yml, service.yml, etc.
#
# 2. Create and configure a Workload Identity Provider for GitHub (https://github.com/google-github-actions/auth#setting-up-workload-identity-federation)
#
# 3. Change the values for the GAR_LOCATION, GKE_ZONE, GKE_CLUSTER, IMAGE, REPOSITORY and DEPLOYMENT_NAME environment variables (below).
#
# For more support on how to run the workflow, please visit https://github.com/google-github-actions/setup-gcloud/tree/master/example-workflows/gke-kustomize

name: Build and Deploy to GKE

on:
  push:
    branches:
      - "master"

jobs:
  deploy:
    name: Deploy head of main to prod
    runs-on: ubuntu-latest

    steps:
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_GCR_KEY }}
          export_default_credentials: true

# - name: Use gcloud CLI to deploy the workflow
#     run: gcloud info

      - name: Deploy workflow
          uses: UriKatsirPrivate/deploy-workflow@v5
          with:
              project-id: ${{ secrets.GCP_PROJECT_ID }}
              workflow-name: deploy
              workflow-definition-file-name: deployment.yaml
              service-account-name: Compute Engine default service account
              workflow-region: us-central1

      # - id: "auth"
      #   name: "Authenticate to Google Cloud"
      #   uses: "google-github-actions/auth@v0"
      #   with:
      #     credentials_json: "${{ secrets.GCP_GCR_KEY }}"

      # - name: Login to GCR
      #   uses: docker/login-action@v2
      #   with:
      #     registry: gcr.io
      #     username: _json_key
      #     password: ${{ secrets.GCP_GCR_KEY }}

      # - name: Build and push
      #   uses: docker/build-push-action@v3
      #   with:
      #     push: true
      #     tags: gcr.io/rocket-346418/test:latest
